# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

# caches
**/__pycache__

# Generated as-pect type definition file
as-pect.d.ts

# Generated wasm binary and source map
public/as-api.wasm
public/as-api.wasm.map

# PGN files
**/pgn/*

# FEN files
**/fen/*
